
html{
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgba(185, 185, 215, 0.5);
  /*font-family: 'Cinzel', serif;*/
  /*font-family: 'Tangerine', cursive;*/
  font-family: 'Amatic SC', cursive;
}

body{
  width: 100%;
}
nav{
  background-color: rgba(168, 169, 196, 0.9);
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 90px;
  box-shadow: 0 0 15px black;
  z-index: 5;
  /*font-family: 'Amatic SC', cursive;*/
}


nav ul{
  list-style: none;

  display: flex;
  justify-content:flex-end;
  padding-right: 20px;
}

nav ul li{
  padding: 15px 15px 0px 10px;
  text-decoration: none;
  font-size: 1.5em;
}

nav ul li a{
  color: black;
  text-decoration: none;
}

h1{
  margin-top: 90px;
}

header{
  background-image: url('../img/BridgeBladeRunner-1.jpg');
  background-size: cover;
  height: 800px;
  box-shadow: 0 0 15px black;
}
a:hover{
  color: rgb(119, 138, 170);
  font-size: 1.1em;
  transition: .5s ease;
}

a{
  transition: .5s ease;
}

header h1, header h2{
  text-align: center;
  position: relative;
  top: 380px;
  color: rgb(240, 242, 244);
  text-shadow: 0 0 15px black;
}

footer a{
  text-decoration: none;
}

section h3{
  text-shadow: 0 0 2px grey;
}
